/*
 * Globals
 */

 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  font-family: monospace;
  min-height: 100%;
}


/*
 * Header
 */

 .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-gold {
  background-color: #bba24f;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(131, 128, 128, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(27, 26, 26, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

.section-header {
  background-color: #bba24f;
  justify-content: space-between;
}

/**
** Footer
**/

.fixed-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

/**
** Content
**/

.home-image {
  width: 100%;
   > img {
    height: 300px;
   } 
}

/**
** Print
**/

@media print {
  body {
    visibility: hidden;
  }
  #section {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 20%;
  }
}