/*
 * Globals
 */

 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  font-family: monospace;
  min-height: 100%;
}


/*
 * Header
 */
header {
  height: 100px;
}

.navbar-custom {
  background-color: #bba24f;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}

/**
** Footer
**/

.fixed-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

/**
** Content
**/

.home-image {
  width: 100%;
   > img {
    max-width: 100%;
   } 
}

.meet-image {
  width: 100%;
   > img {
    height: 200px;
    border-radius: 50%;
   } 
}

.container-custom {
  padding-top: 70px;
  padding-bottom: 20px;
}

#size_list {
  width: 200px;
}

@media only screen and (max-width: 600px) {
  #size_list {
    display: none;
  }
}

/**
** Print
**/

@media print {
  body {
    visibility: hidden;
  }
  #section {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 20%;
  }
}